html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #d05c2e;
  color: #fff;
  margin: 0;
}

.grains h1 {
  align-items: center;
  display: flex;
  font-size: 2rem;
  margin: 0;
  padding: .4em 0;
  justify-content: space-between;
}

.grains img {
  width: 8%;
}

.list ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list li {
  border: .8px solid #a63f38;
  border-left: none;
  padding: .5rem 0;
  text-align: center;
  width: 100%;
}

.list a {
  color: #fff;
  font-size: 1.125rem;
  text-decoration: none;
}

.list li:hover {
  background-color: #a63f38;
}
