html {
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #d05c2e;
  color: #fff;
  margin: 0;
}

.grains h2 {
  display: flex;
  font-size: 2rem;
  margin: 0;
  padding: .5em 0;
  justify-content: space-between;
}

.grains img {
  width: 5%;
}

.list ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list li {
  border: 1px solid #a63f38;
  padding: .4rem 0;
  text-align: center;
  width: 100%;
}

.list a {
  color: #fff;
  font-size: 1.125rem;
  text-decoration: none;
}
